// https://www.colorbox.io/
// hue: 282 -> 272
$accentColor = #AF30ED
// hue: 190 -> 200
$badgeTipColor = #13B8E4
$tipBorderColor = #30C9ED
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile rs rust

// Some grayish color
// hue: 210 -> 220
// sat: 4 -> 30
// lum: 100 -> 27
